html,body,ul,li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.header {
	height: 50px;
	line-height: 50px;
	padding: 0 15%;
	font-size: 16px;
	color: #ff5500;
	font-family: normal;
	background-color: #000;
}
.header h3 {
	font-family: normal;
	margin: 0;
}
.container {
	padding: 15px 15% 0;
}
.container .article-heading {
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	font-size: 16px;
	font-family: normal;
	color:#999;
	background-color: #f3f3f3;
	border-left: 10px solid #e9e9e9;
}
.container .article-heading h4 {
	font-weight: normal;
}
.article-body ul li {
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: 10px;
}
.blog-title a {
	line-height: 20px;
	font-size: 16px;
	color: #0da4d3;
	text-decoration: none;
}
.blog-title a:hover {
	color: #333;
	text-decoration: underline;
}

.blog-subtitle {
	line-height: 30px;
	font-size: 12px;
	color: #bbb;
}

.article-body .blog-img img {
	width: 100%;
	height: 130px;
	margin: 5px 0;
}

.article-body .blog-summary {
	height: 36px;
	line-height: 18px;
	color: #333;
	font-size: 12px;
	text-indent: 2em;
	margin: 10px 0;
	overflow: hidden;
}
.main-content {
	font-size: 12px !important;
	color: #333;
	line-height: 25px;
}
xmp {
	background-color: #333;
	padding: 10px;
	color: #fff;
}